<div class="container">
    <!-- <div id="messages"></div> -->
    <div class="card mb-5">
        <div class="position-relative">
            <div id="chat-messages-container" class="chat-messages-container p-4">
                <div id="messages" class="chat-messages-innder"></div>
            </div>   
            <div class="flex-grow-0 py-3 px-4 border-top">
                <div class="input-group">
                    <textarea id="message" class="form-control" placeholder="Message"></textarea>
                    <button id="send" class="btn btn-primary">Send</button>
                </div>
            </div>  
    </div>  
</div>